<iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyB_94Xpuq3RwWXcjTFE09Hv4Im9YDxpmMk
    &q={{ location }}" allowfullscreen></iframe>


<div class="jumbotron">

  <h5 class="card-title ">Event Details:</h5>
  <p class="card-text">Name of Event:</p>
  <p class="card-text">Message:</p>
  <p class="card-text">Date of the event:</p>
  <p class="card-text">Location of the event:</p>
</div>



